.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .div1 { grid-area: 1 / 1 / 2 / 6; }
  .div2 { grid-area: 2 / 1 / 12 / 5; }
  .div3 { grid-area: 2 / 5 / 12 / 6; }
  .div4 { grid-area: 12 / 1 / 13 / 6; }
